*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Baloo 2", sans-serif;
}
body{
    background-color:rgba(119, 2, 152, 0.775) ;
}
.container{
    background-color:#1c1c1c ;
    width: min(90%,500px) ;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    padding: 4em 2em;
    border-radius: 0.5em;
}
button{
    border: none;
    outline: none;
    cursor:auto;
}
.section-container{
    display: flex;
    gap:1em;
    justify-content: center;
}
.btn{
    padding: 1em 2em;
    border-radius:0.5em;
    background-color: #3e3f43;
    color: #a9a7a7;
}
.btn-focus{
    background-color: rgba(119, 2, 152, 0.775);
    color:#ffffff; 
}
.time-btn-container{
    display:flex;
    flex-direction: column;
    margin-top: 2em;
}
#time{
    text-align: center;
    color:#ffffff;
    font-size:5em;
    font-weight:600;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap:2em;
}
#btn-start,#btn-pause{
    padding: 1em 2em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: #ffffff;
}
#btn-reset{
    background-color: transparent;
    border:none;
    outline:none;
    color:#ffffff;
    font-size:2em;
}
.hide{
    display: none;
}
.show{
    display: block;
}
footer{
    position: absolute;
    bottom: 0;
    left:45vw;
}